<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <h1> Word Counter</h1>
    <p> Type or paste your text in box</p>
    <form action="" method="POST">
        <textarea name="text" rows="17" cols="100"></textarea>
        <input type="submit">
    </form>
    <p>characters {{char}}</p>       
    <p>words {{wor}}</p>
    <p>sentences {{sen}}</p>
    <p>paragraphs {{para}}</p>

    <h2>Top keywords based on frequency</h2>
    <p>{{{keywords}}}</p>
</body>

</html>